In [ ]:
1.
i)  s = “pwskills”
ii)  l = [1,2,3,4,5,6,True,”pwskills”,’a’]
iii) f = 24.45
iv) t=(1,2,3,4,5,False,”arka”)

In [ ]:
2.
i) string
ii)string
iii)list
iv)integer

In [ ]:
3.
i)it is used for division.
    2/2=1
ii)it is used for calculating the remainder.
   3%2=1
iii)it is used for calculating the division floor value.
    4//3=1
iv) it is used for calculating raised to the power of.
   2**3=8

In [13]:
#4
a=[1,2,3,4,5,6,7.5,"pwskills",True,4+7j]
for i in a:
     print(i)  
     print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7.5
<class 'float'>
pwskills
<class 'str'>
True
<class 'bool'>
(4+7j)
<class 'complex'>

In [19]:
# 5
num1=int(input("enter number 1"))
num2=int(input("enter number 2"))
while(num1>=num2):
        if(num1%num2 != 0):
            print("not divisible")
            break
        else:
            print("divisible")
            q=num1//num2
            break
print("the number is divisible",q, "times")

enter number 1 225
enter number 2 5

divisible
the number is divisible 45 times

In [20]:
#6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if (i%3==0):
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [24]:
#7 mutable and immutable data type
#a mutable datatype is a datatype whose data can be changed. eg.- list
t = [1,2,True,3.5,5+6j]

print(t)
t[2]=100
print(t)

[1, 2, True, 3.5, (5+6j)]
[1, 2, 100, 3.5, (5+6j)]

In [26]:
# an immutable datatype is a datatype whose data cannot be changed.eg- string
a="arka"
print(a)
a[2]="m"
print(a)

arka

TypeError: 'str' object does not support item assignment